.item-page-layout
  display: flex
  justify-content: center
  background-color: #e9d9d9
  padding-bottom: 100px

#main-container
  width: 85vw
  background-color: #fffefd
  display: grid
  justify-content: center
  height: 60vh
  grid-template-columns: 40% 60%


.item-images-container
  display: flex
  justify-content: center
  align-items: center

.list-group
  position: absolute
  bottom: 20px

.display-6
  margin-top: 20px

.image-list
  list-style-type: none
  display: flex
  gap: 10px

.list-image-item
  cursor: pointer
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px
  border-radius: 5px

.list-image-item:hover
  box-shadow: rgb(38, 57, 77) 0 20px 30px -10px

#option-list-item
  list-style-type: none

#option
  width: 60px
  height: 60px
  background-color: #70384d
  border-radius: 5px
  padding: 7px
  color: #f0efea
  display: block
  text-align: center
  font-size: 18px

.input-group
  //outline: 1px solid red
  width: 180px

#option:hover
  background-color: #94516a

#input-radio:checked+span
  outline: 2px solid orange

#option:hover
  cursor: pointer

#input-radio
  position: relative
  top: 30px
  opacity: 0

.list-items
  display: grid
  grid-template-columns: repeat(auto-fill, 70px)

#item-description
  white-space: pre
  padding-left: 15px
  padding-top: 10px
  line-height: 1.7
  overflow: scroll

#item-price
  font-size: 2rem
  width: 75%

#price-tag
  position: relative
  bottom: 30px
  left: 90px

.price-div
  float: right
  margin-right: 60px

#buy-btn
  border: none
  background-color: #70384d
  color: #fffefd
  border-radius: 6px
  font-size: 1.2rem
  font-weight: 600
  padding: 10px 25px

#buy-btn:hover
  background-color: #94516a

.quantity-add-item
  display: flex
  align-items: center
  justify-content: space-between
  margin-right: 50px
  margin-top: 50px

.more-items-carousel
  height: 300px
  width: 100%
  border-top-right-radius: 50px
  border-top-left-radius: 50px
  background-color: #925a6f
  margin-top: -100px

@media (max-width: 1060px)
  #main-container
    grid-template-columns: 1fr
