.item-page-layout
  display: flex
  justify-content: center
  background-color: #fffefd
  //padding-bottom: 100px

#main-container
  width: 85vw
  background-color: #fffefd
  display: grid
  justify-content: center
  grid-template-columns: 40% 60%
  grid-template-rows: repeat(2, 1fr)
  height: auto

.item-images-container
  display: flex
  justify-content: center
  align-items: center
  grid-row: 1 / 3
  grid-column: 1 / 2

.item-description-container
  grid-row: 1 / 2
  grid-column: 2 / 3

.item-form-container
  grid-row: 2 / 3
  grid-column: 2 / 3
  display: grid
  grid-template-columns: repeat(auto-fit, 1fr)

.list-group
  position: absolute
  bottom: 20px

.display-6
  margin-top: 20px

.image-list
  list-style-type: none
  margin-top: 10px
  display: flex
  gap: 10px

.list-image-item
  cursor: pointer
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px
  border-radius: 5px

.list-image-item:hover
  box-shadow: rgba(0, 0, 0, 0.25) 0 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0 0 0 1px inset

#option-list-item
  list-style-type: none

#option
  width: 60px
  height: 60px
  background-color: #70384d
  border-radius: 5px
  padding: 7px
  color: #f0efea
  display: block
  text-align: center
  font-size: 18px

.input-group
  width: 180px

#option:hover
  background-color: #94516a

#input-radio:checked+span
  outline: 2px solid orange

#option:hover
  cursor: pointer

#input-radio
  position: relative
  top: 30px
  opacity: 0

.list-items
  display: grid
  grid-template-columns: repeat(auto-fill, 70px)

#item-description
  white-space: pre-wrap
  padding-left: 15px
  padding-top: 50px
  line-height: 1.7
  display: block


#item-price
  font-size: 2rem
  //width: 75%

#price-tag
  position: relative
  top: 21px
  right: 2px

.price-div
  float: right
  margin-right: 8vw

#buy-btn
  border: none
  background-color: #70384d
  color: #fffefd
  border-radius: 6px
  font-size: 1.2rem
  font-weight: 600
  padding: 10px 25px

#buy-btn:hover
  background-color: #94516a

.quantity-add-item
  display: flex
  align-items: center
  justify-content: space-between
  margin-right: 50px
  margin-top: 50px

@media (max-width: 1060px)

  #main-container
    grid-template-columns: 1fr
    grid-template-rows: repeat(3, 1fr)
    margin-top: 20px

  .item-images-container
    grid-row: 2 / 3
    grid-column: 1
    margin-top: -20px

  .item-description-container
    grid-row: 1 / 2
    grid-column: 1


  .item-form-container
    grid-row: 3 / 4
    grid-column: 1
    //margin-top: -15px

  #item-description
    padding-left: 0
    margin-top: 20px

  .quantity-add-item
    flex-direction: column
    width: 200px
    gap: 20px

  #buy-btn
    width: 200px
    background-color: #925a6f
    text-shadow: 1px 1px 10px #32363e

  #option
    background-color: #925a6f
    text-shadow: 1px 1px 10px #32363e




