$primary-color: #fffefd

.item
  height: clamp(300px, 400px, 500px)
  border-radius: 20px
  padding-inline: 10px
  color: #32363e

.yarn-image
  margin-top: 5px
  margin-inline: auto
  display: block

#link
  text-decoration: none

#price
  margin: 0
  padding-top: 60px
  font-weight: bold
  font-size: 1.3rem
  color: #7a263c


.item-title
  margin: 0
  height: 80px
  padding-top: 15px
  text-align: center
  font-size: 23px

.item-price-btn
  display: flex
  margin-top: 15px
  justify-content: space-around

