$font-stack: 'Merriweather', 'Roboto Slab', Helvetica
$primary-color: #fffefd
$secondary-color: #32363e
$breakpoint: 1040px

html, body
  margin: 0
  width: 100%
  font-family: $font-stack
  box-sizing: border-box

.flex-container
  display: flex
  justify-content: space-between
  height: 80px

.flex-item
  display: flex
  justify-content: center
  font-size: clamp(2vmin, 3vmin, 5vmin)

.navbar-container
  min-width: 320px
  width: 100%
  font-weight: 600
  background-color: #70384d

.dropdown-btn
  background-color: transparent
  border: none
  color: $primary-color
  display: none
  font-size: 1.7rem

.nav-list
  background: linear-gradient(#70384d 35%, #7b4157c4)
  display: grid
  font-size: 1.5rem
  grid-template-columns: repeat(4, 1fr)
  width: 45vw
  border-bottom-left-radius: 8px
  z-index: 1
  //transition: all .5s ease-in-out
  //transform-origin: left top

.nav-link
  display: flex
  text-decoration: none
  color: $primary-color
  justify-content: center
  align-items: center
  cursor: pointer
  text-shadow: 1px 1px 8px #32363e
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px

.nav-link:hover
  font-size: 1.6rem
  color: $primary-color


#logo-img
  width: 110px
  height: 110px
  position: relative
  top: 5px
  margin-left: 10px


@media (max-width: 1060px)
  .nav-list
    grid-template-columns: 1fr
    position: absolute
    top: 80px
    right: 0
    z-index: 1

  .nav-link
    display: none
    text-align: center
    line-height: 10vh

  .visible
    display: block

  .dropdown-btn
    display: block
    border: none
    width: 45vw





