$font-stack: 'Georgia', Helvetica
$primary-color: #F3E4E2
$secondary-color: #32363e
$breakpoint: 1040px

html, body
  margin: 0
  width: 100%
  font-family: $font-stack
  box-sizing: border-box

.nav-menu
  width: 100%
  font-size: 2rem
  height: 80px
  background-color: #7B4157

.dropdown
  border-bottom-left-radius: 8px

.navbar-container
  display: flex
  justify-content: space-between

#nav-list
  position: absolute
  right: 0
  top: 80px
  width: clamp(110px, 160px, 250px)
  background: linear-gradient(#7b4157fc, #7b4157c4)
  font-size: 1.5rem
  //padding-block: 5px
  display: flex
  flex-direction: column
  text-align: center
  //box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px
  border-bottom-left-radius: 8px
  z-index: 1
  //transition: all 0.3s ease-in-out
  transition: all .5s ease-in-out
  transform-origin: left top

.nav-links
  text-decoration: none
  color: $primary-color
  //outline: 1px solid red
  padding: 10px 5px
  text-shadow: 1px 1px 8px #32363e

.nav-list :not(last-child)
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 1px

.nav-links:last-of-type
  border-bottom-left-radius: 8px

#logo-img
  width: 100px
  height: 100px
  position: relative
  top: 5px
  margin-left: 10px

.dropdown-btn
  background-color: transparent
  border: none
  margin: 15px 30px
  color: #fffefd

.hidden
  opacity: 0
  height: 0

.active





//.faBars
//  color: #f6eceb

//#menu-icon
//  width: 50px
//  height: 40px

//.dropdown-btn:hover .nav-list
//  background-color: #32363e
