.item
  height: clamp(300px, 400px, 500px)
  border-radius: 20px

.yarn-image
  margin-inline: auto
  display: block
  padding-top: 20px

.info
  padding-inline: 10px
  color: #32363e

#price
  margin: 0
  font-weight: bold
  font-size: 1.5rem

#description
  height: 50px
  margin: 0

.item-title
  margin: 0
  height: 80px
