.product-layout
  background-color: #e9d9d9

.items-grid-container
  display: grid
  grid-template-columns: repeat(auto-fill, clamp(200px, 300px, 500px))
  gap: 60px
  justify-content: center
  margin: 0
  padding: 0

.item-grid
  background-color: #32363e
  width: 300px
  height: clamp(300px, 400px, 500px)

h1
  margin: 0